<!-- <!doctype html> -->
<html data-bs-theme="auto" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>Portfolio App</title>
  </head>
  <body class="d-flex align-items-center py-4 bg-body-tertiary">
    <!-- →<h2 th:text="${message_error}">エラーメッセージ</h2>←<p>  -->
    <main class="form-signin w-100 m-auto">
      <form method="post" action="/signin-process">
        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            name="username"
            placeholder="name@example.com"
          />
          <label for="username">Email address</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="Password"
          />
          <label for="password">Password</label>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">
          Sign in
        </button>
      </form>
    </main>
    </p>
    <form method="post" action="/signup-process">
    <h1 class="h3 mb-3 fw-normal">Please sign Up</h1>
        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            name="username"
            placeholder="name@example.com"
          />
          <label for="username">Email address</label>
        </div>
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="Password"
          />
          <label for="password">Password</label>
        </div>
        <button class="btn btn-primary w-100 py-2" type="submit">
          Sign Up
        </button>
      </form>
  </body>
</html>
